<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" >

    <title>Marca</title>
  </head>
  <body>
    <div class="container mt-5">
        <form method="POST" action="/save_marcas" >
        
            <div class="row">
                <div class="col-8 form-group">
                    <label class="form-label">Marca</label>
                    <input type="text" name="marca" class="form-control">
                </div>
               
               
                <div class="col-8 mt-2">
                    <button type="submit" class="btn btn-success float-end">Salvar</button>
                   
                </div>
            </div>
        </form>
    </div>

   
    <script src="/static/dist/umd/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js" ></script>
   
  </body>
</html>