<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" >

    <title>teste</title>
  </head>
  <body>
    <div class="container mt-5">
        <form method="POST" action="/update" >
        
            <div class="row">
                <div class="col-8 form-group">
                    <label class="form-label">Nome</label>
                    <input type="text" name="nome" class="form-control"
                    value="<%=data.nome %>">
                    <input type="hidden" name="id" 
                    value="<%=data.id %>">
                </div>
                <div class="col-8 form-group">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control"
                    value="<%= data.email %>">
                </div>
                <div class="col-8 form-group">
                    <label class="form-label">Senha</label>
                    <input type="password" name="senha" class="form-control">
                </div>
                <div class="col-8 mt-2">
                    <button class="btn btn-success float-end">Salvar</button>
                   
                </div>
            </div>
        </form>
    </div>

   
    <script src="/static/dist/umd/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js" ></script>
   
  </body>
</html>