<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" >

    <title>teste</title>
  </head>
  <body>


    <div class="container  mt-5">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 30rem;">    
                <div class="card-body">
                    <form method="POST" action="/check_login" >
                    
                        <div class="row d-flex justify-content-center">
                            
                            <div class="col-8 form-group">

                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control">
                            </div>
                            <div class="col-8 form-group">
                                <label class="form-label">Senha</label>
                                <view-pass ></view-pass>
                            </divclass>

                            <div class="col-8 mt-2">
                                <button class="btn btn-success float-end">Entrar</button>
                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

   
    <script src="/static/dist/umd/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js" ></script>
    <script type="module" src="/static/js/main.js"></script>
   
  </body>
</html>