<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" >

    <title>Produtos</title>
  </head>
  <body>
    
    <div class="container mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Marca</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
    <div class="fixed-bottom mb-5" style="margin-right: 2em;">
      <button type="button" class="btn btn-success
      rounded-pill float-end" id="plus">
      <i class="fa fa-plus"></i>
    </button>
    </div>

   
    <script src="/static/dist/umd/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js" ></script>
    <script>
     
      const plus=document.getElementById('plus');
     
      plus.addEventListener('click',()=>{
        window.location.href='/add_produtos';
      })

    
      




    </script>
   
  </body>
  
</html>